@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    height: 100svh;
    gap: 1.5rem;
    position: relative;
}

.turn {
    color: white;
    font-family: "Poppins", sans-serif ;
    align-self: center;
    margin-bottom:0;
    border: 1px solid white;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.game {
    display: flex;
    height: 100%;
}

.playerOne, .playerTwo {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: white;
    font-family: "Poppins", sans-serif ;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.return {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: "Poppins", sans-serif ;
    font-size: 1.5rem;
    margin: 0;
}

h2, .score1, .score2 {
    color: white;
    font-family: "Poppins", sans-serif ;
    border: 1px solid white;
    margin: 0;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.gameplay {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    height: 80%;
}

.buttonOne, .buttonTwo, .buttonThree, .buttonFour, .buttonFive, .buttonSix, .buttonSeven, .buttonEight, .buttonNine {
    padding: 0;
    margin: 0;
}

.buttonOne {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.buttonTwo {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.buttonThree {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.buttonFour {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.buttonFive {
    background-color: black;
    border:1px solid white;
}

.buttonSix {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.buttonSeven {
    background-color: black;
    border: none;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.buttonEight {
    background-color: black;
    border: none;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.buttonNine {
    background-color: black;
    border: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.name1, .name2 {
    font-family: "Poppins", sans-serif ;
    margin: 0;
    border: 1px solid white;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.winnerPlayer {
    font-size: 4rem;
}

.name1, .changeColor, .score1 {
    color: #E30D00;
}

.name2, .changeColor2, .score2 {
    color: #E0BB00;
}

.changeColor3 {
    color: white;
}

.block {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
}

.score1, .score2 {
    font-family: "Poppins", sans-serif;
    border: 1px solid white;
    margin: 0;
    font-size: 2rem;
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
}

.popupContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: black;
    border: 2px solid white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

.announceWinner, .winnerPlayer {
    font-family: "Poppins", sans-serif ;
    margin: 0;
}

.announceWinner {
    color: white;
    font-size: 2rem;
}

.buttonBarMenu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

.menuButton, .replay {
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: "Poppins", sans-serif ;
    font-size: 2rem;
    margin: 0;
}