@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100svh;
    margin: 0;
}

.forTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.title {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
}

.forMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

.menu {
    display: flex;
    flex-direction: column;
    width:30% ;
    gap: 1rem;
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
}

#firstname1::placeholder, #firstname2::placeholder {
    color: lightslategray;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-style: italic;
}

#firstname1, #firstname2 {
    border: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.label1 {
    color: #E30D00;
}

.label2 {
    margin-top: 2rem;
    color: #E0BB00;
}

.play {
    background-color: white;
    border: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    padding: 1rem 0 1rem 0;
    width: 50%;
    align-self: center;
    margin-top: 2rem;
}